<div class="topbar">
  <div class="topbar-left">
      <a class="logo">
          <span>
              <img src="../../../../assets/super-admin/images/logo.png" alt="">
          </span>
          <i>
              <img src="../../../../assets/super-admin/images/logo_sm.png" alt="">
          </i>
      </a>
  </div>
  <nav class="navbar-custom">
      <ul class="list-unstyled topbar-right-menu float-right mb-0">
          <li class="dropdown notification-list">
              <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" role="button"
                 aria-haspopup="false" aria-expanded="false">
                  <img src="../../../../assets/super-admin/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span class="ml-1">Super-Admin <i class="mdi mdi-chevron-down"></i> </span>
              </a>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                  <a class="dropdown-item notify-item">
                      <i class="ti-power-off"></i> <span>Logout</span>
                  </a>
              </div>
          </li>
      </ul>
      <ul class="list-inline menu-left mb-0">
          <li class="float-left">
              <button class="button-menu-mobile open-left waves-light waves-effect">
                  <i class="mdi mdi-menu"></i>
              </button>
          </li>
      </ul>
  </nav>
</div>