<div class="left side-menu">
  <div class="user-details">
      <div class="pull-left">
          <img src="../../../../assets/super-admin/images/users/avatar-1.jpg" alt="" class="thumb-md rounded-circle">
      </div>
      <div class="user-info">
          <a>Super Admin</a>
          <!-- <p class="text-muted m-0">Administrator</p> -->
      </div>
  </div>
  <div id="sidebar-menu">
      <ul class="metismenu" id="side-menu">
          <!-- <li class="menu-title">Navigation</li> -->
          <li>
              <a routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <i class="ti-home"></i><span> Dashboard </span>
              </a>
          </li>
          <li>
              <a routerLink="fileUpload" routerLinkActive="active">
                  <i class="ti-paint-bucket"></i><span>File Upload</span>
              </a>
          </li>
      </ul>
  </div>
  <div class="clearfix"></div>
</div>